.gently__wrap.container {
  max-width: 1140px;
  padding-bottom: 430px;
}

.gently__wrap {
  position: relative;
  margin-top: -100px;
}

.gently__bg-white {
  background: #fff;
  padding: 56px 0 264px 93px;
  max-width: 1013px;
  border-radius: 56px;
  color: $text;

  & h2 {
    font-size: 64px;
    margin-bottom: 72px;
    margin-top: 70px;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }
}

.gently__item {
  width: 40%;
  max-width: 362px;
  margin-right: 91px;
  margin-bottom: 96px;

  & h3 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 900;
    margin-bottom: 16px;
  }

  & p {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }

  & img {
    display: block;
    pointer-events: none;
    margin-bottom: 24px;
  }
}

.gently__item:nth-child(2n) {
  margin-right: 0;
}

.gently__bg-green {
  background: #00CA50;
  width: 641px;
  padding: 83px;
  border-radius: 56px;
  position: absolute;
  bottom: 0;
  right: 17px;

  & img {
    display: block;
    pointer-events: none;
    margin-bottom: 24px;
  }

  & p {
    font-size: 32px;
    color: $white;
    line-height: 130%;

    & a {
      color: $white;
      text-decoration: underline;
    }
  }
}


@media (max-width: $tablet-width) {
  .gently__bg-white {
    padding: 56px 0 170px 40px;

    & ul {
      justify-content: space-between;
    }
  }

  .gently__wrap {
    padding-bottom: 500px;
  }

  .gently__item:nth-child(2n) {
    margin-right: 40px;
  }

  .gently__item {
    margin-right: 40px;

    & h3 {
      font-size: calc(36px + 22 * ((100vw - 768px) / 1140));
    }

    & p {
      font-size: calc(22px + 24 * ((100vw - 768px) / 1140));
    }
  }
}

@media (max-width: $mobile-width) {
  .gently__bg-white {
    padding: 56px 0 170px 20px;

    & h2 {
      font-size: calc(40px + 30 * ((100vw - 320px) / 1140));
     }
  }

  .gently__item {
    margin-right: 20px;
    width: 100%;
    max-width: none;

    & img {
      margin: 0 auto;
    }
  }

  .gently__item:nth-child(2n) {
    margin-right: 20px;
  }

  .gently__bg-green {
    width: 100%;
    margin-top: -150px;
    position: relative;
    padding: 20px;

    & p {
      font-size: calc(20px + 25 * ((100vw - 320px) / 1140));
    }
  }

  .gently__wrap.gently__wrap.container {
    padding-bottom: 0;
  }
}

