.map {
  background: #fff;
  border-radius: 56px 56px 0 0;
  max-width: 100%;
}

.map__wrap {
  padding-top: 128px;

  & h2 {
    margin: 0;
    font-size: 64px;
    margin-bottom: 32px;
    font-weight: 900;
  }

  & p {
    margin: 0;
    font-size: 32px;
    line-height: 130%;
    font-weight: 600;
    margin-bottom: 72px;
  }

  & img {
    display: block;
    pointer-events: none;
    width: 100%;
    border-radius: 56px;
  }
}

@media (max-width: $mobile-width) {
  .map__wrap {
    padding-top: 50px;

    & h2 {
      font-size: calc(40px + 30 * ((100vw - 320px) / 1140));
    }

    & p {
      font-size: calc(20px + 22 * ((100vw - 320px) / 1140));
    }

  }
}

