.footer {
  background-color: $white;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: $text;
  padding: 25px 0;

  & p {
    margin: 0;
    max-width: 680px;
  }

  & .footer__text {
    margin-right: 15px;
  }
}

@include vp--767 {
  .footer__wrap {
    flex-direction: column;

    & p {
      max-width: 680px;
      margin-bottom: 15px;
    }
  }
}
