.plus__wrap {
  padding-bottom: 128px;
  padding-top: 72px;

  & svg {
    display: block;
    pointer-events: none;
    margin-bottom: 32px;
  }

  & h2 {
    margin: 0;
    font-size: 64px;
    margin-bottom: 32px;
    font-weight: 900;
  }

  & p {
    margin: 0;
    font-size: 32px;
    line-height: 130%;
    font-weight: 600;
  }
}


@include vp--767 {
  .plus__wrap {
    & h2 {
      font-size: calc(40px + 30 * ((100vw - 320px) / 1140));
     }

    & p {
      font-size: calc(20px + 22 * ((100vw - 320px) / 1140));
    }
  }
}
