.rent__wrap {
  padding-top: 128px;
}

.rent__title {
  font-size: 64px;
  line-height: 110%;
  text-align: left;
  font-weight: 600;
}

.rent__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 150px;
}

.rent__content-left {
  width: 50%;
}

.rent__content-right {
  border-radius: 56px;
  display: flex;
  justify-content: start;
  align-items: flex-start;

  & .rent__bg-video {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
}

.rent__left-info:not(:last-child) {
  padding-bottom: 96px;
}

.rent__left-text {
  font-size: 36px;
  margin: 0;
  margin-top: 32px;
  max-width: 455px;
  text-align: left;
  line-height: 110%;
  font-weight: 900;
}

.rent__arrow {
  display: block;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 389px;
}


@include vp--1023 {
  .rent__title {
    font-size: calc(45px + 30 * ((100vw - 768px) / 1140));
  }

  .rent__left-text {
    font-size: calc(30px + 40 * ((100vw - 768px) / 1140));
  }

  .rent__content-right {
    width: 39.2%;

    &.rent__bg-video {
      width: 360px;
      height: 720px;
      object-fit: fill;
    }
  }
}


@include vp--767 {
  .rent__wrap {
    padding-top: 50px;
  }

  .rent__content {
    flex-direction: column;
  }

  .rent__content-right {
    align-self: center;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  .rent__content-left {
    width: 100%;
  }

  .rent__arrow {
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: auto;
  }
}
