mixin footer(footerMods)
  footer.footer(class=footerMods)
    .footer__wrap.container
      p.footer__text Электросамокаты Яндекс Go&nbsp;— сервис аренды электросамокатов на&nbsp;условиях, указанных&nbsp;на:!{' '}
        a.footer__link(href="https://ya.cc/go/", data-smooth-scroll="true", aria-label="#") ya.cc/go.
        |
        | Условия программы лояльности Яндекс Плюс Кешбэк:!{' '}
        a(href="https://yandex.ru/legal/plus_loyalty/", data-smooth-scroll="true", aria-label="#") https://yandex.ru/legal/plus_loyalty/.
        |
        | Начисление баллов доступно только пользователям с&nbsp;активной подпиской Яндекс Плюс (или иной, её&nbsp;включающей). 0+
      p.footer__copyright © 2021 ООО «Яндекс.Такси»
