body {
  font-family: $font-extra;
  font-size: 36px;
  font-weight: 600;
  color: $text;

  margin: 0;
  padding: 0;
  background-color: $bg-main;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text;
}

img {
  max-width: 100%;
  height: auto;
}

/* стили для кастомных сообщений об ошибке */
.error {
  color: $white;
  background-color: $error;

  width: 100%;
  height: auto;
  position: absolute;

  inset: auto auto -60% auto;
  transform: translateY(60%);
  opacity: 0;
  display: block;
  z-index: 1400;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 5px 11px;
}

.error.active {
  opacity: 1;
}

.error svg {
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  top: -10px;
  background-color: $error;
}
