//fonts
$font-extra: "Yandex Sans Text", "Arial", sans-serif;

//Colors
$text: #21201f;
$bg-main: #ffde40;
$white: #fff;
$plus: #000;
$placeholder: #999;
$submit: #252525;
$error: #ff8786;

//breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
