-
  var gently = [
        {
            src: 'icon-one',
            width: '83',
            height: '83',
            title: 'Самокат — только для вас',
            text: 'Кататься вдвоём на одном самокате правда опасно.'
        },
        {
            src: 'icon-helmet',
            width: '83',
            height: '83',
            title: 'Лучше наденьте шлем',
            text: 'Если только учитесь кататься, не повредит и другая защита.'
        },
        {
            src: 'icon-no-alcohol',
            width: '83',
            height: '83',
            title: 'Катайтесь трезвыми',
            text: 'Это правило справедливо для любого транспорта..'
        },
        {
            src: 'icon-road',
            width: '83',
            height: '83',
            title: 'Переходите дорогу только пешком',
            text: 'То же с бордюрами и ступеньками.'
        },
        {
            src: 'icon-pedestrian',
            width: '83',
            height: '83',
            title: 'Уступайте пешеходам',
            text: 'Вы тоже один из них.'
        },
        {
            src: 'icon-adult',
            width: '83',
            height: '83',
            title: 'Катайтесь по-взрослому',
            text: 'Вы можете взять самокат, если вам уже исполнилось 18 лет.'
        }
    ]
-
  var gentlyGreen = {
    src: 'icon-heart',
    width: '83',
    height: '84',
    insurance: 'https://go.yandex/ru_ru/doc/scooter/insurance',
  }
