-
  var map = {
    name: 'map',
    title: 'Где есть самокаты',
    text: 'Самокаты постепенно появляются в разных районах Москвы. Карта в приложении покажет, где взять самокат — и на какой парковке его можно оставить.'
  }

