-
  var plus = {
    name: 'icon-plus',
    width: '100',
    height: '100',
    title: 'Катайтесь с Плюсом',
    text: 'До 30 сентября вернём 100% кешбэка баллами Плюса за первую поездку и 25% за каждую следующую. Максимальный кешбэк — до 1000 баллов Плюса за одну поездку.'
  }
