-
  var rent = [
        {
            name: 'city.svg',
            width: '362',
            height: '112',
            text: 'В Яндекс Go нажмите кнопку Город'
        },
        {
            name: 'park.svg',
            width: '112',
            height: '127',
            text: 'Найдите на карте ближайшую парковку'
        },
        {
            name: 'qr.svg',
            width: '362',
            height: '112',
            text: 'Дойдите до самоката и отсканируйте QR-код на руле'
        }
    ]
-
  var video = {
    src: 'https://streaming.video.yandex.ru/get/yndx-video/m-69033-17a8044d759-bae55ecc453e3a37/720p'
  }

-
  var img = {
    name: 'arrow.svg',
    width: '345',
    height: '357'
  }
